.all-countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.single-country {
  border: 1px solid blue;
  padding: 15px;
  text-align: center;
  background-color: darkslategray;
}
.info-country {
  background-color: cadetblue;
}
.btn {
  padding: 6px;
  color: crimson;
  border-style: none;
  background-color: bisque;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}
.input {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
  font-weight: bold;
}
@media screen and (max-width: 968px) {
  .all-countries {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media screen and (max-width: 668px) {
  .all-countries {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .all-countries {
    grid-template-columns: auto;
    grid-gap: 10px;
  }
}
